@use "./base.scss";

/*
Publish and Local
=================
 */

/* All images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt*="bwhite"] {
  background-color: white;
}

img[alt*="invert"] {
  filter: invert(1);
}

img[alt*="bscreen"] {
  mix-blend-mode: screen;
}

img[alt*="bmult"] {
  mix-blend-mode: multiply;
}

/* General */
[saved-theme="dark"] {
  --figure-background-color: var(--color-base-100);
}

[saved-theme="light"] {
  --figure-background-color: var(--color-base-00);
}

/* transparent background, black themed */
[saved-theme="dark"] img[alt*="book"] {
  mix-blend-mode: screen;
  filter: invert(1);
}

[saved-theme="light"] img[alt*="book"] {
  mix-blend-mode: multiply;
}

/* transparent background, black themed, with hue filter */
[saved-theme="dark"] img[alt*="bookhue"] {
  mix-blend-mode: screen;
  filter: hue-rotate(180deg) invert(1);
}

[saved-theme="light"] img[alt*="bookhue"] {
  mix-blend-mode: multiply;
}

/* Vector art also need to have a transparent background */
[saved-theme="light"] img[alt*="svg"] {
  filter: invert(1);
}

[saved-theme="light"] img[alt*="ignore"] {
  filter: unset !important;
}

/* Dark theme for GeoGebra applets */
[saved-theme="dark"] .geo {
  mix-blend-mode: screen;
  filter: invert(1);
}

[saved-theme="light"] .geo {
  mix-blend-mode: multiply;
}

/* Allow images in callouts to smoothly interact with the callout background */
.callout {
  mix-blend-mode: inherit;
}

.callout[data-callout="notes"] {
  --color: #00b8d4;
  --border: #00b8d444;
  --bg: #00b8d410;
  --callout-icon: url("data:image/svg+xml; utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-message-square-plus'%3E%3Cpath d='M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z'/%3E%3Cpath d='M12 7v6'/%3E%3Cpath d='M9 10h6'/%3E%3C/svg%3E"); //message-square-plus;
}

.callout[data-callout="def"] {
  --callout-icon: url("data:image/svg+xml; utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-book-open'%3E%3Cpath d='M12 7v14'/%3E%3Cpath d='M3 18a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a4 4 0 0 1 4 4 4 4 0 0 1 4-4h5a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-6a3 3 0 0 0-3 3 3 3 0 0 0-3-3z'/%3E%3C/svg%3E"); //book-open;
}

.callout[data-callout="theorem"] {
  --callout-icon: url("data:image/svg+xml; utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-wand-sparkles'%3E%3Cpath d='m21.64 3.64-1.28-1.28a1.21 1.21 0 0 0-1.72 0L2.36 18.64a1.21 1.21 0 0 0 0 1.72l1.28 1.28a1.2 1.2 0 0 0 1.72 0L21.64 5.36a1.2 1.2 0 0 0 0-1.72'/%3E%3Cpath d='m14 7 3 3'/%3E%3Cpath d='M5 6v4'/%3E%3Cpath d='M19 14v4'/%3E%3Cpath d='M10 2v2'/%3E%3Cpath d='M7 8H3'/%3E%3Cpath d='M21 16h-4'/%3E%3Cpath d='M11 3H9'/%3E%3C/svg%3E");//wand-2;
}

.callout[data-callout="formula"] .callout-content {
  --callout-icon: url("data:image/svg+xml; utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-sigma'%3E%3Cpath d='M18 7V5a1 1 0 0 0-1-1H6.5a.5.5 0 0 0-.4.8l4.5 6a2 2 0 0 1 0 2.4l-4.5 6a.5.5 0 0 0 .4.8H17a1 1 0 0 0 1-1v-2'/%3E%3C/svg%3E"); //sigma;
}

.callout[data-callout="quote"] .callout-content {
  font-family: "Times New Roman", Times, serif;
}

/* block quotes (for image captioning) */
blockquote {
  border-left: 0;
  border-right: 0;
  font-size: 0.9rem;
}

div.callout-content blockquote {
  border-left: 0;
  border-right: 0;
  font-size: 0.9rem;
}

blockquote p {
  text-align: center;
  color: var(--gray);
  font-size: 0.9rem;
}

div.callout-content blockquote p {
  text-align: center;
  color: var(--gray);
  font-size: 0.9rem;
}

/* Callouts */
div.callout-content p {
  text-align: initial;
  color: var(--darkgray);
  font-size: 1rem;
}

div.callout-content {
  font-size: 1rem;
}

div.callout-title-inner {
  font-size: 1rem;
}

/* Center iframes */
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 
Testimonials (Publish and local)
============
*/

.testimonials {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  align-items: center;
  direction: rtl;
}

figure.testi {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  text-align: right;
  box-shadow: none !important;
}

figure.testi * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

figure.testi img {
  max-width: 100%;
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 50%;
  margin: 40px 0 0 10px;
  bottom: 45px;
}

figure.testi blockquote {
  display: block;
  border-radius: 8px;
  position: relative;
  text-align: right;
  background-color: var(--dark);
  padding: 25px 50px 30px 50px;
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  line-height: 1.6em;
  color: var(--light);
  font-style: italic;
}

figure.testi blockquote:before,
figure.testi blockquote:after {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  content: "\201D";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}

figure.testi blockquote:before {
  right: 20px;
  top: 25px;
}

figure.testi blockquote:after {
  bottom: 0;
  left: 20px;
  transform: scaleX(-1);
  content: "\201D";
}

figure.testi .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 25px solid transparent;
  border-top: 25px solid var(--dark);
  margin: 0;
  position: absolute;
}

figure.testi .author {
  position: absolute;
  bottom: 45px;
  padding: 0 120px 0 10px;
  margin-left: 0;
  text-transform: uppercase;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
figure.testi .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 700;
}
figure.testi .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}